# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.tox/
.coverage
*.cover
*.log
.git
.mypy_cache/
.pytest_cache/

# Local config
.env
client_secrets.json
token.json

# Build artifacts
dist/
build/
*.egg-info/
*.so
